services:
  db:
    image: postgres:16
    ports:
      - 5432:5432
    env_file:
      - .env
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

  airflow:
    build: .
    ports:
      - 8080:8080
    env_file:
      - .env
    volumes:
      - ./dags:/opt/airflow/dags
    depends_on:
      - db
